@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&amp;family=Open+Sans&amp;family=Ubuntu:wght@300;400;500;700&amp;display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-primary1 {
  @apply bg-[#111]
  /* bg-[#0f143a]; */
}
.bg-primaryb {
  @apply bg-[#0b0b0b]
  /* bg-[#0f143a]; */
}
.bg-primary2 {
  @apply bg-[#222]
  /* bg-[#202b5d]; */
}
.bg-secondary {
  @apply bg-[#070b28];
}

.primary-text {
  /* @apply text-[#f75616]; */
  background: linear-gradient(
    135deg,
    #b38728,
    #fcf6ba,
    #bf953f,
    #fbf5b7,
    #aa771c
  ) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  
}

.border-primary {
  /* border-[#f75616] */
  @apply  border-none;
  background: linear-gradient(
    135deg,
    #b38728,
    #fcf6ba,
    #bf953f,
    #fbf5b7,
    #aa771c
  ) !important;
}
.bg_gold{
  background: linear-gradient(
    135deg,
    #b38728,
    #fcf6ba,
    #bf953f,
    #fbf5b7,
    #aa771c
  ) !important;
}

.btn-primary {
  @apply px-6 py-3 rounded-full text-[#000] uppercase;
   /* bg-[#f75616] */
   background: linear-gradient(
    135deg,
    #b38728,
    #fcf6ba,
    #bf953f,
    #fbf5b7,
    #aa771c
  ) !important;
}
.btn-secondary {
  @apply bg-transparent hover:bg-[#b38728] transition-all ease-linear duration-500 border border-[#b38728]  py-3 px-6 rounded-full uppercase;
}

.btn-primary:hover {
  color: #000;
  background: linear-gradient(
    45deg,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  ) !important;
  transition: all 1s linear;
}
.btn-secondary:hover{
  color: #000;
  background: linear-gradient(
    45deg,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  ) !important;
  transition: all 1s linear;
}
.sidebar-link:hover{
  color: #000 !important;
  background: linear-gradient(
    45deg,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  ) !important;
}


.way-bg {
  background: url('/about1.jpg') no-repeat center;
  background-size: cover;
}
.check {
  background: url('/check1.png') no-repeat center;
  background-size: cover;
  
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/banner.jpg') no-repeat center;
  background-size: cover;
}
.about-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/about.jpg') no-repeat center;
  background-size: cover;
}
.contact-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/contact.jpg') no-repeat center;
  background-size: cover;
}
.plan-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/laptop.jpg') no-repeat center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .way-bg1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('/about1.jpg') no-repeat center;
    background-size: cover;
  }
}
